
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    padding: 18px 60px;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    height: 150px;
}

header h1{
    font-size: 32px;
    color: #333;
}


nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a{
   text-decoration: none;
   color: #444;
   font-size: 17px;
   font-weight: 600;

   padding: 10px 0;
   position: relative;
   transition:
   color .3s,
   transform .3s;
   padding-bottom: 8px;

}


nav a:hover{
   color: #f57c00;
   border-bottom: 3px solid #f57c00;
   transform: translateY(-3px);
}

nav a.active{
   color: #f57c00;
   border-bottom: 3px solid #f57c00;

}


#hero{

}

.cards{

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.card{
    width: 340px;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition:
    transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.45s cubic-bezier(0.22, 1, 0.36, 1);

}

.card:hover{
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    display: block;
}

.hero{
    color:white;
}
.hero-content{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.hero-buttons{
    display: flex;
    gap: 18px;
    margin-top: 35px;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 34px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease;
    cursor: pointer;
}

.btn-primary{
    background: #ff8c1a;
    color: white;
    border: none;
    box-shadow: 0 8px 20px rgba(255,140,26,.35);
}

.btn-primary:hover{
    background:#ff9d3d;
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(255,140,26,.45);
}


.btn-outline{
    background: #141413;
    color: white;
    border: none;
    box-shadow: 0 8px 20px rgba(34, 34, 33, 0.35);

}
.btn-outline:hover{
    background:#3c3b3a;
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(34, 34, 33, 0.35);
}