

<!------------FOOTER-------------->

<footer>
    <!-- دکمه بازگشت به بالا -->
    <a href="#top" class="back-top">

        <i class="fa-solid fa-arrow-up"></i>

    </a>

    <div class="container">

        <div class="footer-grid">

            <!-- معرفی -->

            <div class="footer-about">

                <img src="../images/logo.PNG" class="footer-logo" alt="SEHAT Automation Logo">

                <h3>SEHAT Automation</h3>

                <p>

                 آموزش تخصصی کنترل، اتوماسیون صنعتی و تجهیزات نفت، گاز و پتروشیمی.

                </p>

            </div>



            <!-- دسترسی سریع -->

            <div class="footer-links">

                <h4>دسترسی سریع</h4>

                <ul>

                    <li><a href="../index.html">خانه</a></li>

                    <li><a href="courses.html">دوره‌های آموزشی</a></li>

                    <li><a href="about.html">درباره ما</a></li>

                    <li><a href="contact.html">تماس با ما</a></li>

                </ul>

            </div>



            <!-- دسته بندی -->

            <div class="footer-links">

                <h4>دسته‌بندی‌ها</h4>

                <ul>

                    <li><a href="#">PLC</a></li>

                    <li><a href="#">DCS</a></li>

                    <li><a href="#">Instrumentation</a></li>

                    <li><a href="#">Fire & Gas</a></li>

                    <li><a href="#">Utility</a></li>

                </ul>

            </div>



            <!-- ارتباط -->

            <div class="footer-contact">

                <h4>ارتباط با ما</h4>

                <p>

                    <i class="fa-solid fa-envelope"></i>

                    info@sehatautomation.com

                </p>

                <p>

                    <i class="fa-brands fa-instagram"></i>

                    @sehat_automation

                </p>

                <p>

                    <i class="fa-brands fa-linkedin"></i>

                    LinkedIn

                </p>

            </div>

        </div>



        <div class="footer-divider"></div>



        <div class="footer-bottom">

            <p>

                © 2026 SEHAT Automation | All Rights Reserved

            </p>

            <div class="socials">

                <a href="#" aria-label="صفحه اینستاگرام SEHAT Automation"><i class="fa-brands fa-instagram"></i></a>

                <a href="#" aria-label="صفحه لینکدین SEHAT Automation"><i class="fa-brands fa-linkedin"></i></a>

                <a href="#" aria-label="صفحه یوتیوب SEHAT Automation"><i class="fa-brands fa-youtube"></i></a>

                <a href="#" aria-label="صفحه تلگرام SEHAT Automation"><i class="fa-brands fa-telegram"></i></a>

            </div>

        </div>

    </div>

</footer>
