<header>

<div class="container header-container">

    <img src="../images/logo.PNG" 
         alt="SEHAT Automation Logo" 
         class="logo">


    <!-- Mobile Menu Button -->
    <button class="menu-toggle"
    aria-label="باز کردن منوی سایت">

        <i class="fa-solid fa-bars menu-icon"></i>

    </button>


    <nav class="main-nav">

        <a href="../index.html" >
            خانه
        </a>

        <a href="courses.html" class="active">
            دوره‌های آموزشی
        </a>

        <a href="resources.html">
            منابع رایگان
        </a>

        <a href="about.html">
            درباره ما
        </a>

        <a href="contact.html">
            تماس با ما
        </a>

    </nav>


    <div class="header-actions">

        <a href="login.html" class="btn-login">
            ورود
        </a>


        <a href="register.html" class="btn-register">
            ثبت نام
        </a>

    </div>


</div>

</header>